<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    
    <key>CFBundleName</key>
    <string>Gallery Cleaner</string>


    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    
    <!-- Назва застосунку -->
    <key>CFBundleDisplayName</key>
    <string>Gallery Cleaner</string>

    <!-- AdMob: App ID -->
    <key>GADApplicationIdentifier</key>
    <string>ca-app-pub-3833548161293255~7042292125</string>

    <!-- Tracking permission -->
    <key>NSUserTrackingUsageDescription</key>
    <string>Цей дозвіл потрібен для показу персоналізованої реклами</string>

    <!-- Підтримка інтерфейс-орієнтацій (iPhone) -->
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>

    <!-- Підтримка інтерфейс-орієнтацій (iPad) -->
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>

    <!-- Launch Screen (якщо потрібно використовувати storyboard) -->
    <key>UILaunchStoryboardName</key>
    <string>Launch Screen</string>

    <!-- Application Scene Manifest (генерація увімкнена) -->
    <key>UIApplicationSceneManifest</key>
    <dict>
        <key>UIApplicationSupportsMultipleScenes</key>
        <false/>
        <key>UISceneConfigurations</key>
        <dict>
            <key>UIWindowSceneSessionRoleApplication</key>
            <array>
                <dict>
                    <key>UISceneConfigurationName</key>
                    <string>Default Configuration</string>
                    <key>UISceneDelegateClassName</key>
                    <string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
                </dict>
            </array>
        </dict>
    </dict>

    <!-- Підтримка непрямих подій (опціонально) -->
    <key>UIApplicationSupportsIndirectInputEvents</key>
    <true/>
</dict>
</plist>
